
<h2>Listing Editions</h2>

<table>
<div class="table-responsive">
  <table id="editionsTable" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Book</th>
        <th>Year Published</th>
        <% if can_curate? %>
          <th></th>
          <th></th>      
        <% end %>  
      </tr>
    </thead>

    <tbody>
      <% @editions.each do |edition| %>
        <tr>
          <td><%= edition.book.title %></td>
          <td><%= edition.pub_year %></td>   
          <% if can_curate? %>     
            <td><%= link_to 'Edit', edit_book_edition_path(edition.book, edition) %></td>
            <td><%= link_to 'Destroy', [edition.book, edition], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>